<footer id="Footer" class="clearfix">
    <div class="widgets_wrapper">
        <div class="container">
            <div class="column one-second">
                <aside class="widget_text widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                            <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/jklogo-footer.png">
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="column one-second">
                <aside class="widget_text widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <h2>Contact info</h2>
                        <hr class="no_line" style="margin: 0 auto 20px;">
                        <div class="column one-second">
                            <p>
                                31st Liberation Street,
                                <br> Ring Road Central,
                                <br> Ghana
                            </p>
                        </div>
                        <div class="column one-second">
                            <p>
                                (+12) 345 6789
                                <br>
                                <a href="#">info@jaykaygh.com</a>
                            </p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer_copy">
        <div class="container">
            <div class="column one">
                <a id="back_to_top" class="button button_js" href><i class="icon-up-open-big"></i></a>
                <div class="copyright">
                    &copy; <?php echo date("Y"); ?> Jay Kay Group - Developed by <a target="_blank" rel="nofollow" href="http://ronin.africa">Ronin Africa</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<div id="Side_slide" class="right dark" data-width="250">
    <div class="close-wrapper">
        <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
    </div>
    <div class="menu_wrapper"></div>
</div>
<div id="body_overlay"></div>

<!-- JS -->
<script src="assets/js/jquery-2.1.4.min.js"></script>

<script src="assets/js/mfn.menu.js"></script>
<script src="assets/js/jquery.plugins.js"></script>
<script src="assets/js/jquery.jplayer.min.js"></script>
<script src="assets/js/animations/animations.js"></script>
<script src="assets/js/translate3d.js"></script>
<script src="assets/js/scripts.js"></script>
<!-- 
    <script src="plugins/rs-plugin-5.3.1/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/rs-plugin-5.3.1/js/jquery.themepunch.revolution.min.js"></script>

    <script src="plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.video.min.js"></script>
    <script src="plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.parallax.min.js"></script> -->

<script>
    var revapi1, tpj;
    (function() {
        if (!/loaded|interactive|complete/.test(document.readyState))
            document.addEventListener("DOMContentLoaded ", onLoad);
        else
            onLoad();

        function onLoad() {
            if (tpj === undefined) {
                tpj = jQuery;
                if ("off" == "on ")
                    tpj.noConflict();
            }
            if (tpj("#rev_slider_1_1 ").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1 ");
            } else {
                revapi1 = tpj("#rev_slider_1_1 ").show().revolution({
                    sliderType: "standard ",
                    sliderLayout: "auto ",
                    dottedOverlay: "none ",
                    delay: 9000,
                    navigation: {
                        onHoverStop: "off ",
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1080,
                    gridheight: 920,
                    lazyType: "none ",
                    shadow: 0,
                    spinner: "spinner0 ",
                    stopLoop: "off ",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off ",
                    autoHeight: "off ",
                    disableProgressBar: "on ",
                    hideThumbsOnMobile: "off ",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off ",
                        nextSlideOnWindowFocus: "off ",
                        disableFocusListener: false,
                    }
                });
            };
        };
    }());
</script>

</body>

</html>