<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php echo $_GET['title']; ?></title>
    <meta name="description" content="<?php echo $_GET['description']; ?>">
    <meta name="keywords" content="Jay Kay Group, JK Group, JKG, Jay, Kay, Group, Ronin Africa">
    <meta name="author" content="RMQ">
    <meta name="copyright" content="Ronin Africa" />
    <meta name="application-name" content="Jay Kay Group" />
    <meta name="robots" content="no-follow, no-index">
    <!-- <base href="http://localhost:8888/jaykaygroup/"> -->

    <base href="https://demos.roninafrica.com/jaykayglobal/">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Krub:400,400italic,700,700italic,900'>

    <!-- CSS -->
    <link rel='stylesheet' href='assets/css/global.css'>
    <link rel='stylesheet' href='assets/css/structure.css'>
    <link rel='stylesheet' href='assets/css/company5.css'>
    <link rel='stylesheet' href='assets/css/custom.css'>

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="assets/css/settings.css">
</head>

<body class="home page-template-default page template-slider color-custom style-default button-default layout-full-width no-content-padding header-classic header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-line-below-80 menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">