<div id="Wrapper">
    <div id="Header_wrapper" class>
        <header id="Header">
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            <div class="logo">
                                <a id="logo" href="home" data-height="100" data-padding="20"><img class="logo-main scale-with-grid" src="assets/images/jklogo.png" data-retina="assets/images/jklogo.png" data-height="100" data-no-retina><img class="logo-sticky scale-with-grid" src="assets/images/jklogo.png" data-retina="assets/images/jklogo.png" data-height="100" data-no-retina><img class="logo-mobile scale-with-grid" src="assets/images/jklogo.png" data-retina="assets/images/jklogo.png" data-height="100" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="assets/images/jklogo.png" data-retina="assets/images/jklogo.png" data-height="100" data-no-retina></a>
                            </div>
                            <div class="menu_wrapper">
                                <nav id="menu">
                                    <ul id="menu-main-menu" class="menu menu-main">
                                        <li>
                                            <a href="home"><span>HOME</span></a>
                                        </li>
                                        <li>
                                            <a href="about_us"><span>ABOUT</span></a>
                                        </li>
                                        <li>
                                            <a href="services"><span>SERVICES</span></a>
                                        </li>
                                        <!-- <li>
                                            <a href="services"><span>INVESTMENTS</span></a>
                                        </li> -->
                                        <li>
                                            <a href="contact_us"><span>CONTACT</span></a>
                                        </li>
                                    </ul>
                                </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>