
    <div class="middle-box text-center animated fadeInDown">
        <h1 class="white">404</h1>
        <h3 class="font-bold white">Page Not Found</h3>

        <div class="error-desc text-white">
            Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for page">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>