<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <!-- title banner -->
                <div class="section mcb-section mcb-section-b2a472a43 bg-cover-ultrawide" style="padding-top:250px;padding-bottom:80px;background-image:url(assets/images/banner-header.png);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-80efcb361 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-15855acd8 three-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 style="color: #fff;">A few words about us</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- about us -->
                <div class="section mcb-section mcb-section-pe1l1nxrw equal-height-wrap" style="padding-top:110px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-z5rkvuq6q one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-qco8csxfx one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/slider-2.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-a1pwxv3mf one-second valign-middle clearfix" style="padding:0 0 0 8%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-mogwt99we one column_column">
                                    <div class="column_attr clearfix">
                                        <h2>Jay Kay Group</h2>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>In the west of Africa, founded in the harbor city of Accra (Ghana), Jay Kay Group is a celebrated name when it comes to anything and everything related to paper, paper products, printing and printing accessories.</h5>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <p>
                                            From a humble start at the advent of 21st century, the group has clocked a turnover of multi-million USD with offices and businesses all over Ghana, UAE and most of the countries in ECOWAS region.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <p>
                                            Jay Kay Industries & Investments Limited, Jay Kay Manufacturing Limited & Jay Kay Global FZC run mechanically day in day out to cater ‘the Group’s’ clientele in the most efficient fashion.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- behind the scenes -->
                <div class="section mcb-section mcb-section-casglen6u" style="padding-top:110px;padding-bottom:140px;background-color:#ececec">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-agldg0qib one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cgmj1hj2o one column_column">
                                    <div class="column_attr clearfix">
                                        <h2>The People Behind the Business</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-v0208b95v one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-lts4634xc one-fourth column-margin-0px valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-wa0jmo5tn one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic5.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-yxb1bmhoq one column_column">
                                    <div class="column_attr clearfix align_center" style="background-color:#ED1C24;padding:30px 30px 15px;">
                                        <h6><a style="color: #fff;" href="#">SEND A MESSAGE <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-hgxsy5bhs one-fourth valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-z006kiysq one column_column">
                                    <div class="column_attr clearfix" style="padding:40px 5% 0 15%;">
                                        <h4>Mr. Parshottam Aidasani</h4>
                                        <p>
                                            The founder and managing director of the group, he came to Ghana in the late 80’s and since then he has watered this small seedling of business with his hard-work and sweat to make it a fruit bearing tree that stands tall against all its competitors.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-wiz4rpst0 one-fourth column-margin-0px valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-9qjwwvqf0 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic6.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-nh0kt3v4j one column_column">
                                    <div class="column_attr clearfix align_center" style="background-color:#ED1C24;padding:30px 30px 15px;">
                                        <h6><a style="color: #fff;" href="#">SEND A MESSAGE <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-yoc79y917 one-fourth valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-57dgjlhjb one column_column">
                                    <div class="column_attr clearfix" style="padding:40px 5% 0 15%;">
                                        <h4>Mr. Pawan Aidasani</h4>
                                        <p>
                                            The group CEO, he joined his father’s business in the early 2000s and has been responsible for exponential growth the business has seen in last two decades. His strategy of treating the customers as business partners has helped the Group attain new heights.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-lsr3rnelu one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-e9r5rrz30 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 80px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-vwmio6vjp one-fourth column-margin-0px valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-mhuqzf6tf one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic7.jpg">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-9yco5ko6z one column_column">
                                    <div class="column_attr clearfix align_center" style="background-color:#ED1C24;padding:30px 30px 15px;">
                                        <h6><a style="color: #fff;" href="#">SEND A MESSAGE <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-67549nlgc one-fourth valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-nxd1p47xb one column_column">
                                    <div class="column_attr clearfix" style="padding:40px 5% 0 15%;">
                                        <h4>The Sales Team</h4>
                                        <p>
                                            Taking inspiration from the vision of the group MD and working meticulously according to CEO’s business strategy, the sales team is always there to make sure the client is satisfactorily serviced at the end of each transaction.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- investment link -->
                <div class="section mcb-section mcb-section-3916fc365 equal-height-wrap" style="padding-top:0px;padding-bottom:110px;background-color:#ececec">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-f8548efa6 one-second valign-top bg-cover clearfix" style="background-image:url(assets/images/company5-home-wrapbg3.jpg);background-repeat:no-repeat;background-position:center;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-f4a78897a one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 500px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-266bef3d4 one-second valign-top clearfix" style="padding:70px 70px 25px;background-color:#231F20">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-4ba24be84 one column_column">
                                    <div class="column_attr clearfix">
                                        <h5 style="color: #ED1C24; padding-bottom: 30px; border-bottom: 2px solid #ED1C24; display: inline-block;">IN HENDRERIT NULLA</h5>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <h3 style="color: #fff;">Curabitur sed iaculis dolor, non congue ligula.</h3>
                                        <hr class="no_line" style="margin: 0 auto 40px;">
                                        <h6><a style="color: #fff;" href="investments.html">ALL INVESTMENTS <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>