<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-a3f7ec001 bg-cover-ultrawide" style="padding-top:250px;padding-bottom:80px;background-image:url(assets/images/banner-header.png);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-546702ce9 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-6ed2b940a three-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 style="color: #fff;">Feel free to contact us</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-fa1b82a84 equal-height-wrap" style="padding-top:110px;padding-bottom:0px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-9696ed212 one-second valign-top bg-cover clearfix" style="background-image:url(assets/images/contact-1.jpg);background-repeat:no-repeat;background-position:center;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-e6b46ea98 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 400px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-ed69cc756 one-second valign-top clearfix" style="padding:70px 70px 25px;background-color:#231F20">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-bc176c2c4 one column_column">
                                    <div class="column_attr clearfix">
                                        <h5 style="color: #ED1C24; padding-bottom: 30px; border-bottom: 2px solid #ED1C24; display: inline-block;">OUR OFFICE</h5>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <h4 style="color: #fff;">31st Liberation Street,
                                            <br> Ring Road Central,
                                            <br> Ghana
                                        </h4>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <h4 style="color: #fff;"><i class="icon-phone themecolor"></i>(+1) 234 567 890</h4>
                                        <h4><i class="icon-mail themecolor"></i><a style="color: #fff; href=" #">noreply@jaykaygh.com</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-xpjbskzrj" style="padding-top:110px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-pqu3jrvrb one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-qaa4qzphp one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Leave a message</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-nti3a09vl one column_column">
                                    <div class="column_attr clearfix align_center">

                                        <div id="contactWrapper">
                                            <form id="contactform">
                                                <!-- One Second (1/2) Column -->
                                                <div class="column one-second">
                                                    <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                                                </div>
                                                <!-- One Second (1/2) Column -->
                                                <div class="column one-second">
                                                    <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                                                </div>
                                                <div class="column one">
                                                    <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" />
                                                </div>
                                                <div class="column one">
                                                    <textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
                                                </div>
                                                <div class="column one">
                                                    <input type="button" value="Send A Message" id="submit" onClick="return check_values();">
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>