<header id="Header">
    <div class="mfn-main-slider" id="mfn-rev-slider">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin: 0px auto; background: transparent; padding: 0px; height: 920px; overflow: visible;">
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus" style="margin-top: 0px; margin-bottom: 0px; height: 920px;" data-version="5.4.8.3" data-slideactive="rs-1">
                <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1903px; height: 100%; max-height: none; left: 0px;">
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                        <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="assets/images/slider-1.jpg" alt="" title="slider-1" width="1920" height="920" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">-->
                            <div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;assets/images/slider-1.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="assets/images/slider-1.jpg"></div>
                        </div>
                        <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 432px; top: 430px; z-index: 5;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                    <a class="tp-caption   tp-resizeme" href="about_us" target="_self" id="slide-1-layer-6" data-x="20" data-y="430" data-width="['auto']" data-height="['auto']" data-type="text" data-actions="" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:200,&quot;speed&quot;:900,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 15px; line-height: 30px; font-weight: 400; color: rgb(255, 255, 255); letter-spacing: 3px; font-family: krub; text-decoration: none; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">WHO ARE WE </a>
                                </div>
                            </div>
                        </div>
                        <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 432px; top: 492px; z-index: 6;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-1-layer-7" data-x="20" data-y="492" data-width="['530']" data-height="['2']" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:300,&quot;speed&quot;:900,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; background-color: rgb(255, 255, 255); visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 15px; white-space: nowrap; min-height: 2px; min-width: 530px; max-height: 2px; max-width: 530px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 432px; top: 526px; z-index: 7;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-3" data-x="20" data-y="526" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:400,&quot;speed&quot;:900,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 50px; line-height: 60px; font-weight: 400; color: rgb(255, 255, 255); letter-spacing: 0px; font-family: krub; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        a celebrated name<br> when it comes to anything<br> and everything stationary.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 432px; top: 703px; z-index: 8;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                    <a class="tp-caption   tp-resizeme" href="about_us" target="_self" id="slide-1-layer-5" data-x="20" data-y="703" data-width="['auto']" data-height="['auto']" data-type="text" data-actions="" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:500,&quot;speed&quot;:900,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 22px; font-weight: 700; color: rgb(255, 255, 255); letter-spacing: 1px; font-family: krub; text-decoration: none; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; border-width: 0px; margin: 0px; padding: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">READ MORE ABOUT US <i class="icon-right-dir" style="transition: none 0s ease 0s; text-align: inherit; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 700; font-size: 14px;"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 1001px; top: 280px; z-index: 9;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="589" data-y="bottom" data-voffset="119" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:700,&quot;speed&quot;:900,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 15px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img src="assets/images/slider-1a.png" alt="" data-ww="390px" data-hh="521px" width="390" height="521" data-no-retina="" style="width: 390px; height: 521px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 15px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 1099px; top: 380px; z-index: 10;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                    <a class="tp-caption   tp-resizeme" href="####" target="_self" id="slide-1-layer-2" data-x="687" data-y="bottom" data-voffset="280" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="iframe" data-actions="" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:900,&quot;speed&quot;:900,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; text-decoration: none; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 15px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;" rel="lightbox"><img src="assets/images/slider-1b.jpg" alt="" data-ww="390px" data-hh="260px" width="390" height="260" data-no-retina="" style="width: 390px; height: 260px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 15px;"> </a>
                                </div>
                                <!-- https://www.youtube.com/watch?v=z0jjTU-H43M -->
                            </div>
                        </div>
                        <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 1432px; top: 846px; z-index: 11;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap" style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption   tp-resizeme" id="slide-1-layer-4" data-x="right" data-hoffset="37" data-y="bottom" data-voffset="45" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:800,&quot;speed&quot;:900,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 15px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img src="assets/images/company5-slider-pic4.png" alt="" data-ww="23px" data-hh="29px" width="23" height="29" data-no-retina="" style="width: 23px; height: 29px; transition: none 0s ease 0s; text-align: inherit; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 1px; font-weight: 400; font-size: 15px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important; width: 0%;"></div>
                <div class="tp-loader spinner0" style="display: none;">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-aa0bdfqzr" style="padding-top:110px;padding-bottom:180px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-ndw4bbvui one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-xptdcthvc one column_column">
                                    <div class="column_attr clearfix">
                                        <h2>What we do?</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-uov4hike3 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-62zbkqdo8 one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-2yyg5i7en one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon5.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-bxnfl0arn three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Paper</h6>
                                        <p>
                                            We source all types of paper (woodfree coated/ woodfree uncoated/ boards/ newsprint/ copier/ and others) from all over the world in the form of reams (packets) and rolls (of different sizes and GSM) and supply it to our customers depending upon their demands and needs.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                        <div class="image_frame image_item scale-with-grid no_border hover-disable">
                                            <div class="image_wrapper">
                                                <a href="about_us">
                                                    <div class="mask"></div><img class="scale-with-grid" src="assets/images/company5-arrow-right.png">
                                                </a>
                                                <div class="image_links">
                                                    <a href="about_us" class="link"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-3tz0xfrbe one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-c0f37z7y5 one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon2.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-h9hu5dmbk three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Notebooks</h6>
                                        <p>
                                            Because of the international standard quality of the 200,000 notebooks / day that our Lin-o-Matic machines produce, most of the school kids have them in their bags and on their desk. We even manufacture the notebooks with customized cover if a school/ customer demands it.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                        <div class="image_frame image_item scale-with-grid no_border hover-disable">
                                            <div class="image_wrapper">
                                                <a href="about_us">
                                                    <div class="mask"></div><img class="scale-with-grid" src="assets/images/company5-arrow-right.png">
                                                </a>
                                                <div class="image_links">
                                                    <a href="about_us" class="link"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-yhdlclkjx one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-nuodkp0pb one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-art6n05rr one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-fha9q17a9 one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon3.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-5kt3eejk9 three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Textbooks</h6>
                                        <p>
                                            With the recent stand by the government of Ghana against the importation of the textbooks, Jay Kay had the honor of being one of the only seven printers chosen for printing the textbooks for Ghana Education Services, Ministry of Education. Also, we have been the frontrunner in the printing of textbooks for all the big publishers. The humongous Web Offset machines print up to 50,000 textbooks in a day. And we have two!
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                        <div class="image_frame image_item scale-with-grid no_border hover-disable">
                                            <div class="image_wrapper">
                                                <a href="about_us">
                                                    <div class="mask"></div><img class="scale-with-grid" src="assets/images/company5-arrow-right.png">
                                                </a>
                                                <div class="image_links">
                                                    <a href="about_us" class="link"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-hed7u56gz one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-vqtzyfm6y one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon4.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-3g6uhjded three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Printing</h6>
                                        <p>
                                            They say that the best machines in the world come from Germany. The two Heidelberg Speedmasters that we have are no different. Watching the paper enter from one end and coming out printed in full colors from the other in matter of seconds is nothing less than magical. Of course, the other 4 machines (single and two colors) are equally efficient and can be used for smaller jobs.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                        <div class="image_frame image_item scale-with-grid no_border hover-disable">
                                            <div class="image_wrapper">
                                                <a href="about_us">
                                                    <div class="mask"></div><img class="scale-with-grid" src="assets/images/company5-arrow-right.png">
                                                </a>
                                                <div class="image_links">
                                                    <a href="about_us" class="link"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-g6co13b76" style="padding-top:110px;padding-bottom:70px;background-color:#ececec">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-qgsu6zyl2 one-second valign-middle move-up clearfix" style="margin-top:-210px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-436p830cc one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/slider-2.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-bv56hqv9b one-second valign-middle clearfix" style="padding:0 0 0 8%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-oq8mt87yu one column_column">
                                    <div class="column_attr clearfix">
                                        <h2>Jay Kay Group</h2>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>In the west of Africa, founded in the harbor city of Accra (Ghana), Jay Kay Group is a celebrated name when it comes to anything and everything related to paper, paper products, printing and printing accessories. </h5>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <ul class="list_star" hidden>
                                            <li>
                                                Suspendisse a pellentesque dui, non felis.
                                            </li>
                                            <li>
                                                Quisque lorem tortor fringilla sed.
                                            </li>
                                            <li>
                                                Nulla ipsum dolor lacus, suscipit adipiscing.
                                            </li>
                                        </ul>

                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <h6><a href="about_us">READ MORE ABOUT US <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-d8iqnh4bo" style="padding-top:110px;padding-bottom:70px;background-color:#252931">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-omti6wlu7 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-3nqog698y one-second column_column">
                                    <div class="column_attr clearfix">
                                        <h5 style="color: #ED1C24; padding-bottom: 30px; border-bottom: 2px solid #424953; display: inline-block;">Products & Services</h5>
                                        <hr class="no_line" style="margin: 0 auto 35px;">
                                        <h2 style="color: #fff;">We have clients in over 20 countries</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-g3nryaf5z one-second column_column">
                                    <div class="column_attr clearfix align_right" style="padding:110px 0 0;">
                                        <h6><a style="color: #fff;" href="services">SEE OUR SERVICES <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-x5yjyv621 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-t2mvg39sg one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                                <div class="column mcb-column mcb-item-so002shk6 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_map.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-7p21dxpzw one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-ewdt89l6i one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                                <div class="column mcb-column mcb-item-3f2i3yyop one-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 class="themecolor">271</h2>
                                        <h6 style="color: #fff;">LOREM IPSUM</h6>
                                        <p style="color: #5d6673;">
                                            Lorem ipsum dolor sit amet, consectetur elit.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-1ltduju0s one-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 class="themecolor">90</h2>
                                        <h6 style="color: #fff;">ET ULTRICES VOLUTPAT</h6>
                                        <p style="color: #5d6673;">
                                            Lorem ipsum dolor sit amet, consectetur elit.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-l0wezxo0i one-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 class="themecolor">1095</h2>
                                        <h6 style="color: #fff;">ACCUMSAN CONGUE</h6>
                                        <p style="color: #5d6673;">
                                            Lorem ipsum dolor sit amet, consectetur elit.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-1jghd4c7h one-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 class="themecolor">306</h2>
                                        <h6 style="color: #fff;">TEMPOR DIAM</h6>
                                        <p style="color: #5d6673;">
                                            Lorem ipsum dolor sit amet, consectetur elit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-0fsafwvr6 no-margin-h equal-height-wrap" style="padding-top:110px;padding-bottom:0px;background-color:#231F20">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-9o3fr7bd3 one-third valign-top clearfix" style="padding:100px 5% 50px 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cgfhwggj9 one column_column">
                                    <div class="column_attr clearfix">
                                        <h5 style="color: #ED1C24; padding-bottom: 30px; border-bottom: 2px solid #082e90; display: inline-block;">OUR INVESTMENTS</h5>
                                        <hr class="no_line" style="margin: 0 auto 35px;">
                                        <h3 style="color: #fff;">Lorem ipsum dolor sit amet adipiscing elit</h3>
                                        <hr class="no_line" style="margin: 0 auto 40px;">
                                        <h6><a style="color: #fff;" href="investments">ALL INVESTMENTS <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-38hleohxx two-third column-margin-0px valign-top bg-cover clearfix" style="background-image:url(assets/images/company5-home-wrapbg1.jpg);background-repeat:no-repeat;background-position:center top;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-yiahgwjke three-fourth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-7du5bf8b5 one-fourth column_column">
                                    <div class="column_attr clearfix align_center" style="background-color:rgba(237,28,36,0.9);padding:40px 40px 25px;">
                                        <span class="single_icon icon_center"><i style="font-size:50px;line-height:50px;color:#6d96fd;" class="icon-acrobat"></i></span>
                                        <h6><a style="color: #fff;" href="#">DOWNLOAD PDF</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>