<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-59a56f6c1 bg-cover-ultrawide" style="padding-top:250px;padding-bottom:80px;background-image:url(assets/images/banner-header.png);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-79989bcc0 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-a7a99d61e three-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 style="color: #fff;">See our current Services</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-wwe3ly77u equal-height-wrap" style="padding-top:110px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-2q7txoydi one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-pzbuati76 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic9.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-ey27g3wai one-second valign-middle clearfix" style="padding:0 0 0 8%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-auwxo9rmx one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Paper</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>We source all types of paper (woodfree coated/ woodfree uncoated/ boards/ newsprint/ copier/ and others) from all over the world in the form of reams (packets) and rolls (of different sizes and GSM) and supply it to our customers depending upon their demands and needs.</h5>
                                        <!-- <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p> -->
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <!-- <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-141a0nd3f equal-height-wrap" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-7twmf3mwo one-second valign-middle clearfix" style="padding:0 8% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-67037ossn one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Notebooks</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>Because of the international standard quality of the 200,000 notebooks / day that our Lin-o-Matic machines produce, most of the school kids have them in their bags and on their desk. We even manufacture the notebooks with customized cover if a school/ customer demands it.</h5>
                                        <!-- <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p> -->
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <!-- <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-rki28a119 one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-58rf1ccfn one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic10.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-mfs2s0tao equal-height-wrap" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-8ljg0dlfa one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-zgncpq6ul one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic11.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-zifiylm75 one-second valign-middle clearfix" style="padding:0 0 0 8%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-rtp8kpf69 one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Textbooks</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>With the recent stand by the government of Ghana against the importation of the textbooks, Jay Kay had the honor of being one of the only seven printers chosen for printing the textbooks for Ghana Education Services, Ministry of Education. Also, we have been the frontrunner in the printing of textbooks for all the big publishers. The humongous Web Offset machines print up to 50,000 textbooks in a day. And we have two!</h5>
                                        <!-- <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p> -->
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <!-- <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-141a0nd3f equal-height-wrap" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-7twmf3mwo one-second valign-middle clearfix" style="padding:0 8% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-67037ossn one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Printing</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>They say that the best machines in the world come from Germany. The two Heidelberg Speedmasters that we have are no different. Watching the paper enter from one end and coming out printed in full colors from the other in matter of seconds is nothing less than magical. Of course, the other 4 machines (single and two colors) are equally efficient and can be used for smaller jobs.</h5>
                                        <!-- <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p> -->
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <!-- <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-rki28a119 one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-58rf1ccfn one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic10.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-mfs2s0tao equal-height-wrap" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-8ljg0dlfa one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-zgncpq6ul one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic11.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-zifiylm75 one-second valign-middle clearfix" style="padding:0 0 0 8%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-rtp8kpf69 one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Printing Accessories</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>We believe in being a one stop shop for all your printing needs. Being a sole distributor for Technova Imaging Systems Pvt. Ltd, India, we carry a variety of Printing Plates, Printing Inks, Printing Chemicals and other Printing machine parts in our stock.</h5>
                                        <!-- <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p> -->
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <!-- <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-141a0nd3f equal-height-wrap" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-7twmf3mwo one-second valign-middle clearfix" style="padding:0 8% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-67037ossn one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Stationery</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>Every school goer and their teachers swear by the brand of Nataraj when it comes to quality. As their only distributor in Ghana, we have a full range of pens, pencils, sharpeners, erasers, color pencils, crayons, poster colors and math-set. We also, deal in office stationery products like envelopes, arc files, flat files, packaging tapes etc.</h5>
                                        <!-- <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p> -->
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <!-- <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-rki28a119 one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-58rf1ccfn one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic10.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-mfs2s0tao equal-height-wrap" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-8ljg0dlfa one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-zgncpq6ul one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic11.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-zifiylm75 one-second valign-middle clearfix" style="padding:0 0 0 8%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-rtp8kpf69 one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Photocopier Paper</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>With an exponential view of providing more job opportunities to the youth in Ghana as well as development of business, it has started its own JK 5 Star branded A4 & A3 Photocopier Papers manufacturing locally in Ghana, similarly with its new project of Flexo Printing & Packaging Industry – the company has entered into the printing & supply of Labels and Packages to Pharmaceutical Companies, Food & Beverage Companies and Packaging Industries.</h5>
                                        <!-- <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p> -->
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <!-- <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-141a0nd3f equal-height-wrap" style="padding-top:0px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-7twmf3mwo one-second valign-middle clearfix" style="padding:0 8% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-67037ossn one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>FMCG</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>Due to a high demand from our customers, we have been importing a variety of consumer goods for several years now. Candles, Batteries, Blades, Disposable Razors, Diapers, Candy are some of the goods you can easily find at our place. The Mummy and Mario Brand Rice that we import are a well-known name in the market.</h5>
                                        <!-- <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p> -->
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <!-- <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-rki28a119 one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-58rf1ccfn one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic10.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-mfs2s0tao equal-height-wrap" style="padding-top:0px;padding-bottom:70px;background-color:" hidden>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-8ljg0dlfa one-second valign-middle clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-zgncpq6ul one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5-pic11.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-zifiylm75 one-second valign-middle clearfix" style="padding:0 0 0 8%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-rtp8kpf69 one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Textbooks</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px;">
                                        <h5>Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum. Proin bibendum sollicitudin feugiat. Curabitur ut egestas justo, vitae molestie ante. Integer magna purus, commodo in.</h5>
                                        <p>
                                            Diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu, sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula a, suscipit rhoncus
                                            dui.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <h6><a href="javascript:void(0)">Link <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-4edf1fe82" style="padding-top:110px;padding-bottom:70px;background-color:#252931">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-e64cb1abe one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-3b9cbbbe3 one-second column_column">
                                    <div class="column_attr clearfix">
                                        <h5 style="color: #ED1C24; padding-bottom: 30px; border-bottom: 2px solid #424953; display: inline-block;">Products & Services</h5>
                                        <hr class="no_line" style="margin: 0 auto 35px;">
                                        <h2 style="color: #fff;">We have clients in over 20 countries</h2>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-5a1804642 one-second column_column">
                                    <div class="column_attr clearfix align_right" style="padding:110px 0 0;">
                                        <h6><a style="color: #fff;" href="services">SEE OUR SERVICES <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-70438f792 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-51c0cebc9 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                                <div class="column mcb-column mcb-item-203a20626 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_map.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-eb6f24013 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-94bdfc0ac one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                                <div class="column mcb-column mcb-item-85dd729fc one-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 class="themecolor">271</h2>
                                        <h6 style="color: #fff;">LOREM IPSUM</h6>
                                        <p style="color: #5d6673;">
                                            Lorem ipsum dolor sit amet, consectetur elit.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-6ab460377 one-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 class="themecolor">90</h2>
                                        <h6 style="color: #fff;">ET ULTRICES VOLUTPAT</h6>
                                        <p style="color: #5d6673;">
                                            Lorem ipsum dolor sit amet, consectetur elit.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-28e71f264 one-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 class="themecolor">1095</h2>
                                        <h6 style="color: #fff;">ACCUMSAN CONGUE</h6>
                                        <p style="color: #5d6673;">
                                            Lorem ipsum dolor sit amet, consectetur elit.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-997c6eaa9 one-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 class="themecolor">306</h2>
                                        <h6 style="color: #fff;">TEMPOR DIAM</h6>
                                        <p style="color: #5d6673;">
                                            Lorem ipsum dolor sit amet, consectetur elit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>