<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-q4nj3rpq7 bg-cover-ultrawide" style="padding-top:250px;padding-bottom:80px;background-image:url(assets/images/banner-header.png);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-eqaujhygo one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-tbwvtwcnc three-fourth column_column">
                                    <div class="column_attr clearfix">
                                        <h2 style="color: #fff;"> What can we do for you?</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- numbers -->
                <div class="section mcb-section mcb-section-ohl3qbf9x" style="padding-top:110px;padding-bottom:70px;" hidden>
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-giukv2mji one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-8qjg6aqs2 one-fourth column_list">
                                    <div class="list_item lists_4 clearfix">
                                        <div class="circle">
                                            1
                                        </div>
                                        <div class="list_right">
                                            <div class="desc">
                                                Paper
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-8c5f93uxz one-fourth column_list">
                                    <div class="list_item lists_4 clearfix">
                                        <div class="circle">
                                            2
                                        </div>
                                        <div class="list_right">
                                            <div class="desc">
                                                Notebooks
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-h6q2b8blw one-fourth column_list">
                                    <div class="list_item lists_4 clearfix">
                                        <div class="circle">
                                            3
                                        </div>
                                        <div class="list_right">
                                            <div class="desc">
                                                Textbooks
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-h6q2b8blw one-fourth column_list">
                                    <div class="list_item lists_4 clearfix">
                                        <div class="circle">
                                            4
                                        </div>
                                        <div class="list_right">
                                            <div class="desc">
                                                Printing
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- services -->
                <div class="section mcb-section mcb-section-7a8e8564e" style="padding-top:110px;padding-bottom:70px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-f1f996739 one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-7df76d1be one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon5.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-7b453799b three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Paper</h6>
                                        <p>
                                            We source all types of paper (woodfree coated/ woodfree uncoated/ boards/ newsprint/ copier/ and others) from all over the world in the form of reams (packets) and rolls (of different sizes and GSM) and supply it to our customers depending upon their demands and needs.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-5477f2569 one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-0170dbabe one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon2.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-8699ef7fd three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Notebooks</h6>
                                        <p>
                                            Because of the international standard quality of the 200,000 notebooks / day that our Lin-o-Matic machines produce, most of the school kids have them in their bags and on their desk. We even manufacture the notebooks with customized cover if a school/ customer demands it.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-228f055a0 one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-281db19fe one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-9a572b5f5 one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-40ad682aa one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon3.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-c6bef3ace three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Textbooks</h6>
                                        <p>
                                            With the recent stand by the government of Ghana against the importation of the textbooks, Jay Kay had the honor of being one of the only seven printers chosen for printing the textbooks for Ghana Education Services, Ministry of Education. Also, we have been the frontrunner in the printing of textbooks for all the big publishers. The humongous Web Offset machines print up to 50,000 textbooks in a day. And we have two!
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-21dc3074e one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-16ca27033 one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon4.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-1abdceffd three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Printing</h6>
                                        <p>
                                            They say that the best machines in the world come from Germany. The two Heidelberg Speedmasters that we have are no different. Watching the paper enter from one end and coming out printed in full colors from the other in matter of seconds is nothing less than magical. Of course, the other 4 machines (single and two colors) are equally efficient and can be used for smaller jobs.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-b7w58wdcy one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cf64hng9z one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-za7dkevch one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-27yn93v3z one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon6.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-q39uxlwpk three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Printing Accessories</h6>
                                        <p>
                                            We believe in being a one stop shop for all your printing needs. Being a sole distributor for Technova Imaging Systems Pvt. Ltd, India, we carry a variety of Printing Plates, Printing Inks, Printing Chemicals and other Printing machine parts in our stock.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-whe59bc0t one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-b8r1ze2ml one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon7.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-121w8to0i three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Stationery</h6>
                                        <p>
                                            Every school goer and their teachers swear by the brand of Nataraj when it comes to quality. As their only distributor in Ghana, we have a full range of pens, pencils, sharpeners, erasers, color pencils, crayons, poster colors and math-set. We also, deal in office stationery products like envelopes, arc files, flat files, packaging tapes etc.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-b7w58wdcy one valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cf64hng9z one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 40px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-za7dkevch one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-27yn93v3z one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon6.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-q39uxlwpk three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">Photocopier Paper</h6>
                                        <p>
                                            With an exponential view of providing more job opportunities to the youth in Ghana as well as development of business, it has started its own JK 5 Star branded A4 & A3 Photocopier Papers manufacturing locally in Ghana, similarly with its new project of Flexo Printing & Packaging Industry – the company has entered into the printing & supply of Labels and Packages to Pharmaceutical Companies, Food & Beverage Companies and Packaging Industries.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-whe59bc0t one-second valign-top clearfix" style="padding:0 5% 0 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-b8r1ze2ml one-fourth column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="assets/images/company5_icon7.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-121w8to0i three-fourth column_column">
                                    <div class="column_attr clearfix" style="padding:0 0 0 5%;">
                                        <h6 class="themecolor">FMCG</h6>
                                        <p>
                                            Due to a high demand from our customers, we have been importing a variety of consumer goods for several years now. Candles, Batteries, Blades, Disposable Razors, Diapers, Candy are some of the goods you can easily find at our place. The Mummy and Mario Brand Rice that we import are a well-known name in the market.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- contact sub -->
                <div class="section mcb-section mcb-section-troaih9ke equal-height-wrap" style="padding-top:0px;padding-bottom:100px;background-color:">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-eea5j1lix one-second valign-top clearfix" style="padding:70px 70px 25px;background-color:#ED1C24">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-56jqtbsxm one column_column">
                                    <div class="column_attr clearfix">
                                        <h5 style="color: #231F20; padding-bottom: 30px; border-bottom: 2px solid #231F20; display: inline-block;">Jay Kay Group</h5>
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <h3 style="color: #fff;">Nullam pharetra sit amet, consectetuer adipiscing elit.</h3>
                                        <hr class="no_line" style="margin: 0 auto 40px;">
                                        <h6><a style="color: #fff;" href="contact">CONTACT US <i class="icon-right-dir"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-9e6co0e0w one-second valign-top bg-cover clearfix" style="background-image:url(assets/images/company5-home-wrapbg2.jpg);background-repeat:no-repeat;background-position:center;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-93f2me7df one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CTA -->
                <div class="section mcb-section mcb-section-cadyvq9ra highlight-right bg-cover" style="padding-top:0px;padding-bottom:0px;background-image:url(assets/images/company5-sectionbg1.jpg);background-repeat:no-repeat;background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-hwi56drrh one-second valign-top clearfix" style>
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-2d6pipwi4 one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 500px;">
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-21uvk76x4 one-second valign-top clearfix" style="padding:70px 70px 25px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-3puz0lcdo one column_column">
                                    <div class="column_attr clearfix">
                                        <h5 style="color: #ED1C24; padding-bottom: 30px; border-bottom: 2px solid #ED1C24; display: inline-block;">Jay Kay Investments</h5>
                                        <hr class="no_line" style="margin: 0 auto 35px;">
                                        <h3 style="color: #fff;">Mauris maximus velit commodo, varius ligula vel</h3>
                                        <hr class="no_line" style="margin: 0 auto 20px;">
                                        <p style="color: #fff;">
                                            Nam ullamcorper rhoncus sem vitae tempus. Curabitur ut tortor a orci fermentum ultricies. Mauris maximus velit commodo, varius ligula vel, consequat est.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>